<div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Экспорт писем</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form hx-post="{% url 'email_ui:do_export' %}?{{ request.GET.urlencode }}" hx-target="#modal-container">
            {% csrf_token %}
            <input type="hidden" name="selected_emails" value="">
            <div class="modal-body">
                {{ form.as_p }}
                <p class="small text-muted">Будут экспортированы выбранные письма</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Экспортировать</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </form>
    </div>
</div>
