{% extends "admin/change_list.html" %}
{% block breadcrumbs %}
{{ block.super }}
        <a target="_blank"
    class="btn btn-info pull-right"
    href="{% url 'handle_incoming_email' %}">
    Получить ПОЧТУ
</a>
{% endblock %}
{% block result_list %}
    {{ block.super }}
{% for pivot_table in pivot_table_list %}
  <div class="container-fluid" >
      <div class="card card-body">
  <details>
  <summary>{{ pivot_table.name }}</summary>
  {{ pivot_table.table|safe }}
</details>
  </div>
     </div>
{% endfor %}
{% endblock %}