{% extends "admin/change_list.html" %}
{% block breadcrumbs %}
{{ block.super }}

    <form action="{% url 'handle_incoming_email' %}" method="post">
     {% csrf_token %}
    <label for="mail_count">Кол-во писем: </label>
    <input id="mail_count" type="number" min="1" step="1"  name="mail_count" value="10">
    <input class="btn btn-info pull-right" type="submit" value="Получить ПОЧТУ">
</form>

{% endblock %}
{% block result_list %}
    {{ block.super }}
{% for pivot_table in pivot_table_list %}
  <div class="container-fluid" >
      <div class="card card-body">
  <details>
  <summary>{{ pivot_table.name }}</summary>
  {{ pivot_table.table|safe }}
</details>
  </div>
     </div>
{% endfor %}
    <div class="container-fluid" >
      <div class="card card-body">
    {{ pivot_table|safe }}
      </div>
     </div>
{% endblock %}