{% extends "admin/change_list.html" %}
{% load static %}

{% block result_list %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#contracts-tab">Контракты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#payment-tab">Настройки отчета</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="contracts-tab" class="tab-pane active">
                {{ block.super }}
            </div>
            <div id="payment-tab" class="tab-pane">
                {% include 'jazzmin/admin/PaymentInclude.html' %}
            </div>
        </div>
    </div>
{% endblock %}

