{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        a {
          text-decoration: None;color:#007bff
        }
 .tab {
  display: flex;
  flex-wrap: wrap;
}
.tab > input[type="radio"] {
  display: none;
}
.tab-content {
  display: none;
  width: 100%;
  margin-top: 1rem;
}
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
.tab > label {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  text-decoration: none;
  color: #0d6efd;
  border: 0;
  border-radius: 0.375rem;
  background: 0 0;
}
.tab > input[type="radio"]:checked + label {
  cursor: default;
  color: #fff;
  background-color: #0d6efd;
}
</style>
    <div class="tab">
  <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
  <label for="tab-btn-1">Задача</label>

  <input id="tab-btn-2" name="tab-btn" type="radio" value="">
  <label for="tab-btn-2">Подзадачи</label>

  <div class="tab-content" id="content-1">
   <div class="heading mb-4 mt-3"  > {{ Name }}  </div>
    <div class="row">
    <div class="col-6 mb-4">
      <div class="card border-0 shadow components-section">
        <div class="card-body">
            <div class="form-check form-check-inline">
              <!-- Form -->
                <form method="post">
                    {% csrf_token %}
                  {% crispy form %}
                    {{ form.media }}
                   <input type="hidden" name="__next__" value="{{ i__next__ }}">
                    <a class="btn btn-danger" href="{% url 'custom_task_view' %}"> Отмена </a>
</form>
              <!-- End of Form -->
</div>
        </div>
     </div>
    </div>
  </div>
  </div>

  <div class="tab-content" id="content-2">
 <div class="card border-0 shadow components-section">
        <div class="card-body">
                    {{ data|safe }}
  </div>
       </div>
        </div>
  <div class="tab-content" id="content-3">

  </div>
    <div class="tab-content" id="content-4">

  </div>
</div>




{% endblock content %}
{% block custom-js %}
{#    data picker https://wwilsman.github.io/Datepicker.js/#}
<script src="{% static 'data_picker/dist/datepicker.js'%}"></script>
    <link rel="stylesheet" href="{% static 'data_picker/dist/css/datepicker.material.css' %}">
<script>
$(document).ready(function() {
let datepicker = new Datepicker('#id_due_date');

});
</script>

    {% endblock %}